---
layout: default
title: About
---

<section class="padded">
  <div class="grid padded">
    <div class="col-5">
      <img class="about-img" src="images/about.jpg">
    </div>
    <div class="col-7 padded">
      <h3> Hi, welcome! </h3>
      <h4> My name is Zuzana. </h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>
</section>



<!-- - - - - This is where I want to have blog section - - - - - -->

{% include blog-recent.html %}

<!-- - - - -  Little nice section - - - - - -->

{% include nicething.html %}

<!-- - - - - - This is where I put the Instagram plugin - - - - - -->


<section>

  <iframe src="//lightwidget.com/widgets/e123ccdc134950c7bc273b4efb45c3cb.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</section>
