---
layout: default
title: Suzyie.be
---



<!-- - - - - This is the search section - - - - -->

<!-- <section class="grid right">
  <div class="col-12">
    <a href="#"> Search <p> magnifying glass icon </p> </a>

  </div>

</section> -->

<!-- - - - - This is the main section - - - - -->
 <section>





    <div class="popup-gallery masonry padded">

      {% for item in site.data.art limit: 16 %}
      {% if item.category != "projects" %}
      <a class="item" href="{{item.img}}" title="{{item.alt}}" data-category="{{item.category}}" data-project-name="{{ item.alt }}" data-project-info="{{ item.project_info}}"
      data-project-images="{% for pi in item.project_images %}{{ pi }} {% endfor %}">
       <img src="{{item.img}}">
       </a>
       {% endif %}
      {% endfor %}

    </div>

  </section>

<!-- - - - -  Little nice section - - - - - -->

{% include nicething.html %}

<!-- - - - - - This is where I put the Instagram plugin - - - - - -->

<section>

  <iframe src="//lightwidget.com/widgets/e123ccdc134950c7bc273b4efb45c3cb.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</section>
