<!DOCTYPE html>
<html>

<!-- - - - - This is the Head where I put my external sources ------>
  <head>

    <title> Suzyie.be </title>

<!-- - - - - This is where I link my font - - - - -->
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">

<!-- - - - - This is my Gridlex - - - - -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- - - - - This is link to my own stylesheet - - - - -->

    <link rel="stylesheet" href="style.css">

  </head>

  <!-- - - - - This is the main Body of my website - - - - -->

  <body>

<!-- - - - - This is my header - - - - -->

   <header class="grid-middle">
     <div class="col-4">
       <a href="#"> <h2 class="logo"> Suzyie.be </h2> </a>
       <p> Surface patter designer </p>
     </div>

     <nav class="col-8 right">
       <span> <a href="#"> About </a> </span>
       <span> <a href="#"> Blog </a> </span>
       <span class="dropdown-nav dropdown">
         <span> Artwork </span>
         <div class="dropdown-content">
           <a href="#"> Florals </a>
           <a href="#"> Sketches </a>
           <a href="#"> Projects </a>
         </div>
       </span>
       <span> <a href="#"> Contact </a> </span>
      </nav>

   </header>

<!-- - - - - This is the search section - - - - -->

<section class="grid right">
  <div class="col-12">
    <a href="#"> Search <p> magnifying glass icon </p> </a>

  </div>

</section>

<!-- - - - - This is the main section - - - - -->

   <section>
     <div class="masonry">
       <!-- {% for %} -->

       <div> <a href="#"> <img src="images/masonry.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry2.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry5.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry4.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry3.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry6.jpg"> </a>
       </div>
       <div> <a href="#"> <img src="images/masonry7.jpg"> </a>
       </div>

       <!-- {% for %} -->
    </div>

   </section>

<!-- - - - - This is the blog section - - - - -->

  <section>

  </section>

<!-- - - - - This is the footer  - - - - -->

  <footer class="grid">

    <nav class="col-4-middle left">
      <span> <a href="#"> About </a> </span>
      <span> <a href="#"> Blog </a> </span>
      <span class="dropdown-nav dropdown">
        <span> Artwork </span>
        <div class="dropdown-content">
          <a href="#"> Florals </a>
          <a href="#"> Sketches </a>
          <a href="#"> Projects </a>
        </div>
      </span>
    </nav>


    <div class="col-4-middle centered">
      <h2> Let's connect </h2>
      <nav class="socials inline">
      <a href="#"> Instagram </a>
      <a href="#"> Facebook </a>
      <a href="#"> Gmail </a>
      </nav>
    </div>

    <div class="col-4-middle right">
      <h2> Get Updates </h2>
      <a href="#" class="button"> Subscribe </a>
    </div>



  </footer>

  </body>


















</html>
