/* THIS IS MY STYLE RESET */

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: rgb(89, 98, 117);
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}


.about-img {
  min-height: 10rem;
  background-size: cover;
  max-width: 100%;
  margin-bottom: 3rem;
  box-shadow: 30px 30px #f6e9f0;
}

/*------ UTILITY CLASSES ------*/

.right    { text-align: right; }
.left     { text-align: left;  }
.centered { text-align: center;}

.padded { padding: 3% }

/*------ TYPOGRAPHY STYLES ------*/

h2, h3, h4 {
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  /* font-family: 'Shadows Into Light Two', cursive; */
}
h2 { font-size: 2.2rem;}
h3 { font-size: 1.8rem;}
h4 { font-size: 1.4rem;}

p {font-size: 1rem;
  font-size: 1rem;
  line-height: 1.6;}

/*------ OTHER UNIQUE TYPOGRAPHY STYLES ------*/



/*------ BUTTON STYLES ------*/

.button {
  text-decoration: none;
  color: rgb(89, 98, 117);
  border: 2px solid;
  padding: 8px 16px;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 1s;
}

.button:hover {
  color:rgb(234, 134, 133);
}
/*------- MASONRY GALLERY ------*/


.masonry {
  column-count: 3;
  column-gap: 0.8rem;
  padding-left: 5%;
  padding-right: 5%;

}

.masonry .item {
  background-color: #eee;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.popup-gallery  {
  border: 2px solid white;
}

/*------ DROPDOWN MENU BUTTON ------*/

.dropdown {
  position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #ffffff;
    top:30px;
    left:-5px;
    padding:5px;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1); */
}

.dropdown-content.footer {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #ffffff;
  bottom: 10px;
  left:-5px;
  padding:5px;
}

.dropdown:hover .dropdown-content {
  display:block;
}


/*------ HEADER & FOOTER ------*/

header {
  padding: 2% 5%;
}
footer {
  padding: 1% 2%;
}

header a,
footer a {
  text-decoration: none;
}

header nav a,
footer nav a {
  text-decoration: none;
  color: rgb(234, 134, 133);
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  transition: 0.8s;
}

header nav a:hover,
footer nav a:hover {
  color: rgb(89, 98, 117);
}

header h2.logo,
footer h2.logo {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4rem;
  text-transform: none;
  color: rgb(89, 98, 117);
}

header p,
footer p {
  color: rgb(234, 134, 133);
}

/*------ FOOTER ------*/

footer {
  background-color: #f6e9f0;
}


/*------ THIS IS MY MEDIA QUERY ------*/
