/* THIS IS MY STYLE RESET */

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: rgb(89, 98, 117);
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}


.about-img,
.contact-img {
  width:450px;
  height:auto;
  background-size:cover;
  max-width: 100%;
  margin-bottom: 3rem;
  box-shadow: 30px 30px #f6e9f0;
}

/*------ UTILITY CLASSES ------*/

.right    { text-align: right; }
.left     { text-align: left;  }
.centered { text-align: center;}

.padded {
  padding: 0% 5%;
}


/*------ TYPOGRAPHY STYLES ------*/

h2, h3, h4 {
  line-height: 1;
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Shadows Into Light Two', cursive;
}
h2 { font-size: 2.2rem;}
h3 { font-size: 1.8rem;
   letter-spacing: 10px;}
h4 { font-size: 1.2rem;
    letter-spacing: 2px;
  }

p {font-size: 1rem;
  line-height: 1.8;
margin-bottom: 1rem;}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover {
  color: rgb(234, 134, 133);
}

/*------ OTHER UNIQUE TYPOGRAPHY STYLES ------*/

h2.artwork {
  /* padding-left: 5%; */
  letter-spacing: 10px;
}

/*------ BUTTON STYLES ------*/

.button {
  text-decoration: none;
  color: rgb(89, 98, 117);
  border: 2px solid;
  padding: 8px 16px;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 1s;
}

.button:hover {
  color:rgb(234, 134, 133);
}
/*------- MASONRY GALLERY ------*/


.masonry {
  column-count: 3;
  column-gap: 1rem;
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  padding-bottom: 5%;
}

.masonry .item {
  background-color: #f6e9f0;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.popup-gallery  {
  border: 2px solid white;
}

/*------ DROPDOWN MENU BUTTON ------*/

.dropdown {
  position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #ffffff;
    top:30px;
    left:-5px;
    padding:5px;
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1); */
}

.dropdown:hover .dropdown-content {
  display:block;
}


/*------ HEADER & FOOTER ------*/

header {
  padding: 2% 5%;
}
footer {
  padding: 1% 2%;
}

header a,
footer a {
  text-decoration: none;
}

header nav a,
footer nav a {
  text-decoration: none;
  color: rgb(234, 134, 133);
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  transition: 0.8s;
}

header nav a:hover,
footer nav a:hover {
  color: rgb(89, 98, 117);
}

header h2.logo,
footer h2.logo {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 4rem;
  text-transform: none;
  margin-bottom:1rem;
  color: rgb(89, 98, 117);
}

header p,
footer p {
  color: rgb(234, 134, 133);
}

/*------ FOOTER ------*/

footer {
  background-color: #f6e9f0;
}

nav.socials {
font-size: 1.5rem;
}


/*------ THIS IS MY MEDIA QUERY ------*/
