<!-- - - - - - Gallery - - - - -->
<div class="grid">
  <div class="col-12 left">
    <h2 class="artwork">{{include.category | capitalize }}</h2>
  </div>
</div>
<!-- this page is the same for Florals, Sketches and Project, but the content is different  -->

<div class="popup-gallery masonry">
      {% assign filtered_art = site.data.art | where: "category", include.category %}
       {% for item in filtered_art %}
        {% if page.url == "/project.html" %}
        {% assign href = "project-about.html" %}
        {% else %}
        {% assign href = item.img %}
        {% endif %}
       <a class="item" href="{{ href }}" title="{{item.alt}}" data-category="{{item.category}}">
        <img src="{{item.img}}">
      </a>
      {% endfor %}
</div>
