<section class="padded">
  <div class="grid padded">
    <div class="col-5">
      <img src="images/blog.jpg">
    </div>
    <div class="col-7-middle padded">
      <h4> Working from Ikea  </h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="button" href="#"> Read More </a>
    </div>
  </div>
</section>
