<!DOCTYPE html>
<html>

<!-- - - - - This is the Head where I put my external sources ------>
  <head>

    <title> {{page.title}} </title>

<!-- - - - - This is where I link my font - - - - -->
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">

<!-- - - - - This is my Gridlex - - - - -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- - - - - This is link to my own stylesheet - - - - -->

    <link rel="stylesheet" href="style.css">

  </head>

  <!-- - - - - This is the main Body of my website - - - - -->

  <body>

<!-- - - - - This is my header - - - - -->

   <header class="grid-middle">
     <div class="col-4">
       <a href="index.html"> <h2 class="logo"> Suzyie.be </h2> </a>
       <p> Surface patter designer </p>
     </div>

     <nav class="col-8 right">
       <a href="about.html"> About </a>
       <a href="#"> Blog </a>
       <span class="dropdown">
         <a href="#"> Artwork </a>
         <div class="dropdown-content">
           <a href="florals.html"> Florals </a>
           <a href="sketches.html"> Sketches </a>
           <a href="project.html"> project </a>
         </div>
      </span>

      <a href="contact.html"> Contact </a>
      </nav>

    </header>



    {{content}}



    <!-- - - - - This is the footer  - - - - -->

    <footer class="grid footer">
        <div class="col-5_sm-12 padded">
          <a href="index.html"> <h2 class="logo"> Suzyie.be </h2> </a>
          <p> Want to get updates </p>
          <a href="#" class="button"> Subscribe </a>
        </div>
        <div class="col-6_sm-12-middle right">
          <nav class="inline">
            <a href="#"> About </a>|
            <a href="#"> Artwork </a>|
            <a href="#"> Blog </a>
          </nav>
          <nav class="inline socials">
            <a href="https://www.facebook.com/zuzana.zuzana.39">
              fb square
            </a>
            <a href="https://www.instagram.com/suzyie.be/">
              insta square
            </a>
            <a href="#">
              youtube square
            </a>
          </nav>
        </div>
      </footer>

    </body>

  </html>
